* {
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
    --primary: blue;
    --primary-hover: pink;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none !important;
}

.cstm-ctas {
    z-index: 10;
    min-width: 100vw;
    bottom: 0;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: black;
}

.cstm-link {
    text-decoration: none;
    color: var(--primary);
}

.cstm-link:hover {
    color: var(--primary-hover);
}

.on-top {
    z-index: 9;
}

.logo {
    max-width: 30rem;
}

.tag {
    padding: 0 1rem;
}

@media (min-width: 48rem) {
    .cstm-ctas {
        bottom: auto;
        padding: 1rem;
    }
}
  